<h1>Editing usage_entry</h1>

<%= form_for(@usage_entry) do |f| %>
  <% if @usage_entry.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@usage_entry.errors.count, "error") %> prohibited
        this post from being saved:</h2>
    <ul>
    <% @usage_entry.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :in %><br />
    <%= f.text_field :in %>
  </p>
  <p>
    <%= f.label :out %><br />
    <%= f.text_field :out %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @usage_entry %> |
<%= link_to 'Back', usage_entries_path %>
