<h1>Editing host</h1>

<%= form_for(@host) do |f| %>
  <% if @host.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@host.errors.count, "error") %> prohibited
        this post from being saved:</h2>
    <ul>
    <% @host.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @host %> |
<%= link_to 'Back', hosts_path %>
